.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
diegoweb/.DS_Store
diegoweb/build
diegoweb/.svelte-kit
diegoweb/package
diegoweb/.env
diegoweb/node_modules
diegoweb/.env.*
diegoweb/!.env.example
diegoweb/vite.config.js.timestamp-*
diegoweb/vite.config.ts.timestamp-*
.vscode

certs/
